* {
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #444;
    display: grid;
    gap: 10px;
}

.child {
    background-color: #999;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}