* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 10px;
}

.child {
    background-color: lightcoral;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}